<a href="https://colab.research.google.com/github/LEESUNG02/colab_note/blob/main/230622_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터프레임의 합성

* `numpy` 배열을 합치는 것
  * `concatenate`, `vstack`(열 사이즈), `hstack`(행)
  * `dstack`(m x n), `stack`(m x n) ... 모양이 맞는 것들을 연결

> 1:1로 연결

|이름|전화번호|
|-|-|
|김제육|010-xxxx-xxxx|
|이김치|010-xxxx-xxxx|

|이름|주소|
|-|-|
|김제육|서울시 제육구|
|이김치|경기도 김치시|

↓

|이름|전화번호|주소|
|-|-|-|
|김제육|010-xxxx-xxxx|서울시 제육구|
|이김치|010-xxxx-xxxx|경기도 김치시|

`이름` : `공통 열`
행 라벨 -> 열, 이름. 행 인덱스
0~10....

> 1:M 로 연결

|이름|주소|
|-|-|
|A|서울시|
|B|경기도|
|C|서울시|
|D|울산시|

|주소|지원금|
|-|-|
|서울시|10000|
|경기도|11100|
|인천시|20000|

↓

|이름|주소|지원금|
|-|-|-|
|A|서울시|10000|
|B|경기도|11100|
|C|서울시|10000|

## `merge` (두 개 이상의 데이터프레임을 join, 연결)

In [1]:
import pandas as pd

df1 = pd.DataFrame({
    '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
}, columns=['고객번호', '이름'])
df1 # 고객 목록

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희

In [2]:
df2 = pd.DataFrame({
    '고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])
df2 # 구매 기록

   고객번호      금액
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

In [3]:
# merge : 결합하다 -> pandas.merge(df1, df2) # df1 (left), df2 (right)
pd.merge(df1, df2)

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

In [5]:
pd.merge(df2, df1)

   고객번호     금액   이름
0  1001  10000   둘리
1  1001  20000   둘리
2  1001  30000   둘리
3  1005  15000   희동
4  1006   5000  마이콜

In [6]:
# merge : 결합하다 -> pandas.merge(df1, df2) # df1 (left), df2 (right)
# pd.merge(df1, df2)
pd.merge(left=df1, right=df2)

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

In [7]:
pd.merge(left=df1, right=df2, on='고객번호')

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

In [8]:
pd.merge(left=df1, right=df2, on='고객번호', how='inner')
# inner hoin : (기준되는 열) 양쪽 데이터프레임에 모두 속하는 원소들 (결축지 없는 NaN이 관건)

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

In [10]:
# 왼쪽 오른쪽 구분 안하고, 고객번호(에 대응되는)에 값이 있다면 다 가져오겠다
pd.merge(left=df1, right=df2, on='고객번호', how='outer')

   고객번호   이름        금액
0  1001   둘리   10000.0
1  1001   둘리   20000.0
2  1001   둘리   30000.0
3  1002  도우너       NaN
4  1003   또치       NaN
5  1004   길동       NaN
6  1005   희동   15000.0
7  1006  마이콜    5000.0
8  1007   영희       NaN
9  1008  NaN  100000.0

In [13]:
  pd.merge(left=df1, right=df2, on='고객번호', how='left')  # 왼쪽만 다 살리고 싶다

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0
8  1007   영희      NaN

In [14]:
  pd.merge(left=df1, right=df2, on='고객번호', how='right')  # 오른쪽만 다 살리고 싶다

   고객번호   이름      금액
0  1001   둘리   10000
1  1001   둘리   20000
2  1005   희동   15000
3  1006  마이콜    5000
4  1008  NaN  100000
5  1001   둘리   30000

In [15]:
df1 = pd.DataFrame({
    '품종': ['setosa', 'setosa', 'virginica', 'virginica'],
    '꽃잎길이': [1.4, 1.3, 1.5, 1.3]},
    columns=['품종', '꽃잎길이'])
df1

          품종  꽃잎길이
0     setosa   1.4
1     setosa   1.3
2  virginica   1.5
3  virginica   1.3

In [16]:
df1.품종.value_counts()

setosa       2
virginica    2
Name: 품종, dtype: int64

In [17]:
df2 = pd.DataFrame({
    '품종': ['setosa', 'virginica', 'virginica', 'versicolor'],
    '꽃잎너비': [0.4, 0.3, 0.5, 0.3]},
    columns=['품종', '꽃잎너비'])
df2

           품종  꽃잎너비
0      setosa   0.4
1   virginica   0.3
2   virginica   0.5
3  versicolor   0.3

In [18]:
df2.품종.value_counts()

virginica     2
setosa        1
versicolor    1
Name: 품종, dtype: int64

In [19]:
pd.merge(df1, df2)
# 1. 공통으로 존재하는 열을 찾음 (품종)
# 2. 품종들이 몇개씩 있는지 -> 같은 열에 동일한 원소가 여러 개
# -> 원소들끼리의 모든 경우의 수 (조합)을 만들어냄
# 3. inner (df1, df2가 모두 존재하는 걸로만 연결)

          품종  꽃잎길이  꽃잎너비
0     setosa   1.4   0.4
1     setosa   1.3   0.4
2  virginica   1.5   0.3
3  virginica   1.5   0.5
4  virginica   1.3   0.3
5  virginica   1.3   0.5

### 연결되면 안되는 열의 이름이 같을 때

In [20]:
# 두 df에서 이름이 같은 열은 모두 연결하는 기준 (키=on)
# 이름은 같아도 키가 되면 안되는 열 => `on` 무엇을 기준을 할지 명시
# (학생) 수업ID / 이름 (학생의 이름)
# (수업) 수업ID / 이름 (수업의 이름)
# -> on=[수업ID, 이름] ??? -> on='수업ID'
df1 = pd.DataFrame({
    '고객명': ['춘향', '춘향', '몽룡'],
    '날짜': ['2018-01-01', '2018-01-02', '2018-01-01'],
    '데이터': ['20000', '30000', '100000']})
df1

  고객명          날짜     데이터
0  춘향  2018-01-01   20000
1  춘향  2018-01-02   30000
2  몽룡  2018-01-01  100000

In [21]:
df2 = pd.DataFrame({
    '고객명': ['춘향', '몽룡'],
    '데이터': ['여자', '남자']})
df2

  고객명 데이터
0  춘향  여자
1  몽룡  남자

In [24]:
# pd.merge(df1, df2)
pd.merge(df1, df2, on=['고객명', '데이터'])

Empty DataFrame
Columns: [고객명, 날짜, 데이터]
Index: []

In [25]:
pd.merge(df1, df2, on=['고객명'])

  고객명          날짜   데이터_x 데이터_y
0  춘향  2018-01-01   20000    여자
1  춘향  2018-01-02   30000    여자
2  몽룡  2018-01-01  100000    남자

In [26]:
# 앞에 붙으면 -> 접두사 : preflx
# 뒤에 붙으면 -> 접미사 : suffix
pd.merge(df1, df2, on=['고객명'], suffixes=["_x", "_y"])

  고객명          날짜   데이터_x 데이터_y
0  춘향  2018-01-01   20000    여자
1  춘향  2018-01-02   30000    여자
2  몽룡  2018-01-01  100000    남자

In [27]:
# 앞에 붙으면 -> 접두사 : preflx
# 뒤에 붙으면 -> 접미사 : suffix
# pd.merge(df1, df2, on=['고객명'], suffixes=["_x", "_y"])
pd.merge(df1, df2, on='고객명', suffixes=["_L", "_R"])

  고객명          날짜   데이터_L 데이터_R
0  춘향  2018-01-01   20000    여자
1  춘향  2018-01-02   30000    여자
2  몽룡  2018-01-01  100000    남자

### 연결하는 기준이 되는 열들의 이름이 다를 때

In [28]:
df1 = pd.DataFrame({
    '이름': ['영희', '철수', '철수'],
    '성적': [1, 2, 3]})
df1

   이름  성적
0  영희   1
1  철수   2
2  철수   3

In [29]:
df2 = pd.DataFrame({
    '성명': ['영희', '영희', '철수'],
    '성적2': [4, 5, 6]})
df2 # df2['이름'] = df2['성명'], df2.drop...['성명']??, rename...

   성명  성적2
0  영희    4
1  영희    5
2  철수    6

In [31]:
# pd.merge(df1, df2)  -> 에러 No common columns 공통어가 없다

SyntaxError: ignored

In [32]:
# pd.merge(df1, df2, left_on='이름', right_on='성명')
pd.merge(df1, df2, left_on='이름', right_on='성명')

   이름  성적  성명  성적2
0  영희   1  영희    4
1  영희   1  영희    5
2  철수   2  철수    6
3  철수   3  철수    6

In [34]:
# pd.merge(df1, df2, left_on='이름', right_on='성명')
pd.merge(df1, df2, left_on='이름', right_on='성명').drop('성명', axis=1)  # 성명 삭제

   이름  성적  성적2
0  영희   1    4
1  영희   1    5
2  철수   2    6
3  철수   3    6

In [36]:
df_score = pd.merge(df1, df2, left_on='이름', right_on='성명')
df_score

   이름  성적  성명  성적2
0  영희   1  영희    4
1  영희   1  영희    5
2  철수   2  철수    6
3  철수   3  철수    6

In [37]:
df_score.drop('성명', axis=1, inplace=True)

In [38]:
df_score

   이름  성적  성적2
0  영희   1    4
1  영희   1    5
2  철수   2    6
3  철수   3    6

### 인덱스를 기준으로 합쳐주고 싶을 때

In [40]:
df1 = pd.DataFrame({
    '도시': ['서울', '서울', '서울', '부산', '부산'],
    '연도': [2000, 2005, 2010, 2000, 2005],
    '인구': [9853972, 9762546, 9631482, 3655437, 3512547]})
df1

   도시    연도       인구
0  서울  2000  9853972
1  서울  2005  9762546
2  서울  2010  9631482
3  부산  2000  3655437
4  부산  2005  3512547

In [39]:
import numpy as np

df2 = pd.DataFrame(
    np.arange(12).reshape((6, 2)),
    index=[['부산', '부산', '서울', '서울', '서울', '서울'],
           [2000, 2005, 2000, 2005, 2010, 2015]],
    columns=['데이터1', '데이터2'])
df2

         데이터1  데이터2
부산 2000     0     1
   2005     2     3
서울 2000     4     5
   2005     6     7
   2010     8     9
   2015    10    11

In [42]:
pd.merge(df1, df2, left_on=['도시', '연도'], right_index=True)

   도시    연도       인구  데이터1  데이터2
0  서울  2000  9853972     4     5
1  서울  2005  9762546     6     7
2  서울  2010  9631482     8     9
3  부산  2000  3655437     0     1
4  부산  2005  3512547     2     3

In [43]:
df2.reset_index()

  level_0  level_1  데이터1  데이터2
0      부산     2000     0     1
1      부산     2005     2     3
2      서울     2000     4     5
3      서울     2005     6     7
4      서울     2010     8     9
5      서울     2015    10    11

In [44]:
pd.merge(df1, df2.reset_index(), left_on=['도시', '연도'], right_on=['level_0', 'level_1'])

   도시    연도       인구 level_0  level_1  데이터1  데이터2
0  서울  2000  9853972      서울     2000     4     5
1  서울  2005  9762546      서울     2005     6     7
2  서울  2010  9631482      서울     2010     8     9
3  부산  2000  3655437      부산     2000     0     1
4  부산  2005  3512547      부산     2005     2     3

### `join`을 통한 합성

In [45]:
# pd.merge(left, right, ...) # on? index?... how?
# df1 -> left
df1 = pd.DataFrame({
    '품종': ['setosa', 'setosa', 'virginica', 'virginica'],
    '꽃잎길이': [1.4, 1.3, 1.5, 1.3]},
    columns=['품종', '꽃잎길이'])
df2 = pd.DataFrame({
    '품종': ['setosa', 'virginica', 'virginica', 'versicolor'],
    '꽃잎너비': [0.4, 0.3, 0.5, 0.3]},
    columns=['품종', '꽃잎너비'])
df1, df2

(          품종  꽃잎길이
 0     setosa   1.4
 1     setosa   1.3
 2  virginica   1.5
 3  virginica   1.3,
            품종  꽃잎너비
 0      setosa   0.4
 1   virginica   0.3
 2   virginica   0.5
 3  versicolor   0.3)

In [47]:
# df1.join(df2) -> join - 인덱스를 통해 합쳐줌 -> '품종' 열이 중복

In [48]:
# join : 두 개의 df을 인덱스 기준으로 합쳐주는 메소드
df1.join(df2, lsuffix='l', rsuffix='r') # join -> index를 기준으로 합쳐버림

         품종l  꽃잎길이         품종r  꽃잎너비
0     setosa   1.4      setosa   0.4
1     setosa   1.3   virginica   0.3
2  virginica   1.5   virginica   0.5
3  virginica   1.3  versicolor   0.3

In [49]:
df1.set_index('품종').join(df2.set_index('품종'))

           꽃잎길이  꽃잎너비
품종
setosa      1.4   0.4
setosa      1.3   0.4
virginica   1.5   0.3
virginica   1.5   0.5
virginica   1.3   0.3
virginica   1.3   0.5

### `merge`
- 두 데이터프레임 사이의 크기가 같을 필요가 없음 (기준이 되는 열, 인덱스를 바탕으로 outer, inner... 내용들을 재구성
- `on` ... -> 어떠한 열을 기준으로 해줄까? `index`...
- 두 개의 데이터가 공통 분모만 있다면 (키) 연결
- 열 기준으로 연결할 필요가 없다? `join` -> 인덱스를 기준

## `concat`
* `merge` : 특정한 열을 기준(또는 인덱스)으로 해서 연결
* `concat` : 기준 열을 사용하지 않고 데이터를 연결(붙임) - np.concatenate, vstack, hstack...

In [50]:
s1 = pd.Series([0, 1], index=['A', 'B'])
s2 = pd.Series([2, 3, 4], index=['A', 'B', 'C'])

In [51]:
s1

A    0
B    1
dtype: int64

In [52]:
s2

A    2
B    3
C    4
dtype: int64

In [54]:
# pd.concat
pd.concat((s1, s2))

A    0
B    1
A    2
B    3
C    4
dtype: int64

In [55]:
# pd.concat
pd.concat((s1, s2))
pd.concat((s1, s2), axis=0)

A    0
B    1
A    2
B    3
C    4
dtype: int64

In [56]:
pd.concat((s1, s2), axis=1)

     0  1
A  0.0  2
B  1.0  3
C  NaN  4

# 피봇테이블과 그룹 분석

## 피봇테이블
* Pivot Table : 데이터 열 중에서 두 개의 열을 각각 행과 열 인덱스로 사용해서 데이터를 조회해 놓은 것
* 엑셀 -> 피봇테이블
* Pandas -> 피봇테이블 `pivot` (행 인덱스로 사용할 열이름, 열 인덱스로 사용할 열 이름)

In [65]:
data = {
    "도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
    "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
    "인구": [9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 263203],
    "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}
columns = ["도시", "연도", "인구", "지역"]

In [66]:
df1 = pd.DataFrame(data, columns=columns)
df1

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권
5  부산  2005  3512547  경상권
6  인천  2015  2890451  수도권
7  인천  2010   263203  수도권

In [67]:
# 행 인덱스, 열 인덱스, 묶어줄 데이터
# df1.pivot('도시', '연도', '인구') # 행/열 인덱스를 만족시키는 데이터가 없으면 NaN

In [71]:
# 조건을 만족시키는 데이터가 2개 이상일 경우에는 pivot table X
# df1.pivot('지역', '연도', '인구')

In [69]:
df1.set_index(['도시', '연도'])[['인구']].unstack()

           인구
연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

## 그룹분석
* 조건에 맞는 데이터가 하나 이상일 경우에 -> 데이터 그룹을 이룸 (피봇 테이블 형태로 표현을 X)
* 그룹의 특성을 보여주는 (통계치, 계산...) => 그룹 분석 (group analysis)
* group -> `groupby`

1. 분석하고자 하는 Series, df에 `groupby` 메소드 호출 -> 그룹화
1. 그룹화 -> 그룹 객체 -> 그룹 연산

### groupby 메소드
* 데이터를 그룹별로 분류하는 역할.
    * 열 또는 열의 리스트 (어떤 열을 기준으로 그룹을 넣어줄 것이냐
    * 행 인덱스
=> GroupBy (그룹화) => 그룹 함수 or 그룹 연산 => 특정한 값. 배열...

In [76]:
np.random.seed(0)
df2 = pd.DataFrame({
    'key1': ['A', 'A', 'B', 'B', 'A'],
    'key2': ['one', 'two', 'one', 'two', 'one'],
    'data1': [1, 2, 3, 4, 5],
    'data2': [10, 20, 30, 40, 50]
})
df2

  key1 key2  data1  data2
0    A  one      1     10
1    A  two      2     20
2    B  one      3     30
3    B  two      4     40
4    A  one      5     50

In [75]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   품종      4 non-null      object
 1   꽃잎너비    4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 192.0+ bytes

In [77]:
groups = df2.groupby(df2['key1'])  # 특정한 열
# groups = df2.groupby(df2.key1)  # 특정한 열
groups

In [79]:
# groupby.groups(속성) : 그룹별 구성 현황 (행 인덱스)
groups.groups

{'A': [0, 1, 4], 'B': [2, 3]}

In [80]:
groups.count() # 데이터 갯수를 세는거 (NaN 빼고)

      key2  data1  data2
key1
A        3      3      3
B        2      2      2

In [82]:
df3 = df2.copy()
df3.iloc[1, 1] = np.nan
df3

  key1 key2  data1  data2
0    A  one      1     10
1    A  NaN      2     20
2    B  one      3     30
3    B  two      4     40
4    A  one      5     50

In [83]:
df3.groupby(df3.key1).count()

      key2  data1  data2
key1
A        2      3      3
B        2      2      2

In [84]:
groups.size()  # 그룹 데이터의 행의 개수

key1
A    3
B    2
dtype: int64

In [85]:
# 평균
groups.mean()

<ipython-input-85-578a3de12631>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.mean()

         data1      data2
key1
A     2.666667  26.666667
B     3.500000  35.000000

In [86]:
# 중앙값 (median)
groups.median()

<ipython-input-86-829f72f424d4>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.median()

      data1  data2
key1
A       2.0   20.0
B       3.5   35.0

In [87]:
# 최대값
groups.max()

     key2  data1  data2
key1
A     two      5     50
B     two      4     40

In [88]:
# 최소값
groups.min()

     key2  data1  data2
key1
A     one      1     10
B     one      3     30

In [89]:
# 합계
groups.sum()

<ipython-input-89-1da81df12e6f>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.sum()

      data1  data2
key1
A         8     80
B         7     70

In [90]:
# 일괄적으로 곱함
groups.prod()

<ipython-input-90-9ecb72a4f91c>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.prod is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.prod()

      data1  data2
key1
A        10  10000
B        12   1200

In [92]:
# 표준편차, 분산, 중간값(50%)
groups.std()

<ipython-input-92-f1f3987af602>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.std()

         data1      data2
key1
A     2.081666  20.816660
B     0.707107   7.071068

In [91]:
groups.var()

<ipython-input-91-1928a83f165f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.var is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.var()

         data1       data2
key1
A     4.333333  433.333333
B     0.500000   50.000000

In [96]:
groups.quantile(0.5)

<ipython-input-96-df97294cd3b1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.quantile is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.quantile(0.5)

      data1  data2
key1
A       2.0   20.0
B       3.5   35.0

In [97]:
# 특정한 열만 뽑아주고 싶다
groups.quantile(0.5)['data1']

<ipython-input-97-83685366c74a>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.quantile is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.quantile(0.5)['data1']

key1
A    2.0
B    3.5
Name: data1, dtype: float64

### agg (aggregate)

In [98]:
import seaborn as sns # 예시 데이터들을 불러올 수 있음
iris = sns.load_dataset('iris') # 붓꽃
iris # 붓꽃의 데이터

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [99]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [100]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [101]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [102]:
iris.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [104]:
# 각 붓꽃의 종별로 (열별로) 가장 큰 값과 가장 작은 값의 비율을 구해보기
# 각 붓꽃의 종별로 (열별로) 가장 큰 값과 가장 작은 값의 비율을 구해보기
def peak_to_peak_ratio(x):  # 틁정 열을 기준으로 묶인 그룹들의 묶음,
    return x.max() / x.min()
# sepal (꽃받침) / petal (꽃잎)
# iris.groupby(iris.species).agg(lambda x: x.max() / x.min())
iris.groupby(iris.species).agg(peak_to_peak_ratio)

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          1.348837     1.913043      1.900000     6.000000
versicolor      1.428571     1.700000      1.700000     1.800000
virginica       1.612245     1.727273      1.533333     1.785714

In [105]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [106]:
iris.groupby(iris.species).agg(lambda x: x.max() / x.min())

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          1.348837     1.913043      1.900000     6.000000
versicolor      1.428571     1.700000      1.700000     1.800000
virginica       1.612245     1.727273      1.533333     1.785714

* `agg` : 그룹 들의 대표값
* `apply` : 그룹들로 나뉘어진 행에 대해서 반복적 연산

In [107]:
# 꽃잎의 길이가 가장 긴 상위 3개를 뽑는다
def top3_petal_length(df): # group
    # 내림차순 (큰게 위로...)
    return df.sort_values(by='petal_length', ascending=False)[:3] # 0, 1, 2
def top1_petal_length(df): # group
    # 내림차순 (큰게 위로...)
    return df.sort_values(by='petal_length', ascending=False)[:1] # 0, 1, 2

iris.groupby(iris.species).apply(top3_petal_length)
iris.groupby(iris.species).apply(top1_petal_length)

,,sepal_length,sepal_width,petal_length,petal_width,species
species,,,,,,
setosa,24,4.8,3.4,1.9,0.2,setosa
versicolor,83,6.0,2.7,5.1,1.6,versicolor
virginica,118,7.7,2.6,6.9,2.3,virginica